
.slika img{
    width: 100%;
    height: 100vh;
    margin-top: 127px;
    margin-right: 0px;
    padding: 0;
    background-image: cover;
    background-position: center;
}

.kompanija img{
    margin-top: 40px;
    width: 710px;
    height: 504px;
    top: 915px;
    gap: 0px;
    opacity: 0px;
    align-items:flex-start;
}
.kompanija h2{
    width: 272px;
    height: 34px;
    margin-top: -450px;
    margin-left: 765px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 0px;

}

.kompanija p{
    margin-left: 765px;
    align-items: center;
    display: block;
    block-size: 30px;
    padding-right: 100px;
    margin-top: 40px;
}
.kompanija .podnaslov{
    font-size: 23px;
}
.kompanija input{
    margin-left: 765px;
    margin-top: 170px;
    background-color: #BF0F0F;
    width: 170px;
    height: 40px;
    font-size: medium;
    color: white;
}
.kompanija .linijaNasl{
    height: 6px;
    width: 115px;
    position: absolute;
    margin-left: 764px;
    margin-top: 10px;
    background-color: #BF0F0F;
}
.kompanija .linijaRazd{
    height: 2px;
    width: 650px;
    margin-left: 764px;
    margin-top: 45px;
    background-color: #D9D9D9;
}
.parallax{
    position: relative;
    overflow-x: hidden;
    height: 502px;
    perspective: 1px;
}
.parallax img{
   width: 100%;
   height: 90%;
   margin-top: 20px;
   object-fit:cover;
   opacity: 80%;
   background-size: cover;
    background-position: center;
    filter: brightness(45%);
    position: relative;
}
.parallax h2{
    margin-top: -290px;
    margin-bottom: 200px;
    margin-left: 545px;
    position: absolute;
    color:white ;
    font-size: 32px;
}
.parallax .linija{
    background-color: red;
    width: 137px;
    height: 6px;
    top: 230px;
    left: 670px;
    position: absolute;
}