/* video */

.video{
    width: 100%;
    height: auto;
}

.video video{
    width: 100%;
    height: auto;
}

/* description */

.company-description{
    width: 100%;
    height: 647px;
}
.company-description img{
    margin-top: 40px;
    width: 710px;
    height: 504px;
    top: 915px;
}
.company-description h2{
    width: 300px;
    height: 34px;
    font-size: 42px;
    margin-top: -463px;
    margin-left: 766px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.company-description p{
    margin-left: 50%;
    align-items: center;
    display: block;
    white-space: wrap;
    block-size: 30px;
    margin-top: 7;
    width: 524px;
    top: 1214px;
    left: 765px;
}
.company-description .podnaslov{
    width: 506px;
    height: 68px;
    top: 1052px;
    left: 765px;
    font-size: 28px;
    margin-top: 3%;
}
.company-description input{
    margin-left: 50%;
    margin-top: 142px; 
    background-color: #BF0F0F;
    width: 184px;
    height: 48px;
    font-size: 16px;
    color: white;
    border-radius: 6px 6px 6px 6px;
    gap: 8px;
    opacity: 0px; 
}
input:hover{
    background-color: white;
    color: #BF0F0F;
    transition: 0.3s ease-in-out;
    border: 2px solid #BF0F0F;
}
.company-description .linijaNasl{
    height: 6px;
    width: 137px;
    position: absolute;
    margin-left: 770px;
    margin-top: 17px;
    background-color: #BF0F0F;
}
.company-description .linijaRazd{
    height: 3px;
    width: 524px;
    margin-left: 764px;
    margin-top: 45px;
    margin-bottom: 45px;
    background-color: #D9D9D9;
}

/* slika za parallax */

.container{
    height: 80vh;
    background-image: url("/images/3.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 32px;
}
.content h2{
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.325em;
    text-align: center;

}
.content .linija{
    background-color: red;
    width: 137px;
    height: 6px;
    top: 60px;
    left: 220px;
    position: absolute;
}