.brendovi{
    height: 550px;
    background-color: white;
}
.sadrzaj {
    height: 450px;
    background-color: white;
}

.tx{
    padding-top: 30px;
    margin-left: 30%;
    font-size: 28px;
    font-family: "Inter",sans-serif;
   }
.znak-linija{
    background-color: rgba(196, 196, 196, 0.4);
    height: 3px;
    margin-top: 40px;
    width: 650px;
    margin-left: 410px;
}

.slikeBrendova img{
    margin-left: 7.5%;
}
.brendovi input{
    background-color: rgba(191, 15, 15, 1);
    margin-left: 40%;
    margin-top: 7%;
    width: 255px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-family: "Roboto" ,sans-serif;
    border-radius: 6px 6px 6px 6px;
}
input:hover{
   background-color: white;
   color: #BF0F0F;
   transition: 0.3s ease-in-out;
   border: 2px solid #BF0F0F;
}
 footer{
    width: 100%;
    height: 385px;
    background: url("/images/White-fur-rug-texture-patternpictures-1313\ 1.png");
 }

 footer .footerContr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
 }

 footer .footerTopSection{
    color: #fff;
    /*padding: 100px 120px 30px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 80%;
    width: 100%;
    overflow: hidden;
    padding-right: 0;
 }
 footer .footerTopSection h2{
    margin-bottom: 44px;
 }

 footer .footerTopSection .adresa{
    width: 166px;  
    margin-left: 30px;
    margin-top: -30px;
    margin-bottom: 20px;
 }

 footer .footerTopSection .brTel{  
    margin-left: 30px;
    margin-top: -20px;
    margin-bottom: 20px;
 }
 footer .footerTopSection .mail{
    margin-left: 30px;
    margin-top: -20px;
 }

 footer .footerTopSection .logo{
    width: 85px;
    height: 85px;
 }
.footerTopSection .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -67px;
 }
.footerTopSection .socials img{
    margin-top: -67px;
 }
.footerBottomSection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
 }
.footerBottomSection p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
 }
 .footerBottomSection a:hover{
   color: #BF0F0F;
 }
 .footerBottomSection a{
    color: rgba(255, 255, 255, 0.5);
 }

/*popup*/

 .popupBox {
   position: fixed;
   bottom: 0px;
   left: 0px;
   width: 100%
 }
 .popup-button {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   background-color: #d3d3d3;
   position: absolute; 
   top: -40px;
 }
 #popup-content {
   display: none;
   background-color: #f5f5f5;
   padding: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   border-top: 1px solid #ccc;
   border-radius: 5px;
 }
 #popup-content.show {
   display: block;
 }
 #popup-content p {
   margin: 0 0 10px;
   font-size: 14px;
 }
 #popup-content a {
   color: #BF0F0F;
   text-decoration: none;
 }
 #popup-content .accept-btn,
 #popup-content .decline-btn {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 .popup-buttons {
   display: flex;
   gap: 10px;
   margin-top: -35px;
 }
 #popup-content .accept-btn {
   background-color: #BF0F0F;
   color: white;
   margin-left: 1050px;
 }
 #popup-content .accept-btn:hover{
   background-color: white;
   color: #BF0F0F;
   border: 2px solid #BF0F0F;
 }
 #popup-content .decline-btn {
   background-color: #d3d3d3;
   color: black;
 }
 #popup-content .decline-btn:hover{
   background-color: white;
   color: #BF0F0F;
   border: 2px solid #BF0F0F;
 }