.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #D9D9D9;
}
.logo, .jezici{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
.logo{
    width: 218.86px;
    height: 44.08px;
    top: 17px;
    left: 80px;
    gap: 0px;
    opacity: 0px;
}
.logo img{
    width: 180px;
    top: 17px;
    margin-left: 30px;
    gap: 0px;
    opacity: 0px;
}
.jezici{
    font-family: Roboto;
    font-size: 16px;
    color: grey;
    font-weight: 400;
    line-height: 18px;
    margin-left: 50%;
    gap: 20px;
    text-align: right;
    background-color: #D9D9D9;
}

.navbar-menu {
    display: flex;
    padding: 50px;
    gap: 20px;
    position: fixed;
    background-color: white;
    height: 10px;
    width: 100%;
  }

  .navbar-menu li {
    list-style: none;
    text-align: center;
  }

  .navbar-menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    align-items: center;
    font-family: Roboto Condensed, serif;
    font-style:unset;
    padding-left: 70px;
  }

  .navbar-menu p {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    padding-left: 60px; 
    gap: 30px;
  }