@media screen and (max-width:1024px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

    .header {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .logo{
        width: 80%;
        height: auto;
        margin-top: 0%;
    }
    /* .jezici{
        flex-direction: column;
        gap:0;
        text-align: right;
        margin-right: 0;
        margin-left: 85%;
        margin-top: -6%;
    } */
    .jezici{
        display: none;
    }
    .navbar-menu{
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        top: -1000px;
        position: absolute;
        height: auto;
        left: 0;
        z-index: -1;
        margin-top: 40px;
    }
    .navbar-menu.showMenu{
        top: 0;
        z-index: 100;
    }

    .navbar-menu li{
        align-items: center;
        margin-top: 5px;
    } 
    .navbar-menu li p{
        display: none;
    }
    .navbar-menu li a{
        color: #fff;
        margin: 0%;
        align-items: center;
    }
    .menuItem:hover {
        text-decoration: underline;
    }

    .menuItem {
        color: white;
        text-decoration: none;
        margin-top: 0%;
        margin-left: 0%;
    }
    
    .hamburgerMenu.hamburger{
        
        position: fixed;
        background: rgb(137, 133, 140);
        margin-top: -13px;
    }

    .hamburger {
        height: 20px;
        width: 20px;
        position: absolute;
        z-index: 100;
        top: 3px;
        right: 1rem;
        padding: 2px;
        background: rgb(137, 133, 140);
        cursor: pointer;
      }
      .closeIcon {
        display: none;
      }
      .material-icons img{
        width: 20px;
        height: 20px;
        align-items: end;
      }
      

    /* slike */

    .slika{
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-top: 0%;
    }
    .kompanija img{
        width: 45%;
        height: auto;
        margin-bottom: 5%;
    }

    /* centralni deo */

    .kompanija {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: flex-start;
    }

    .kompanija h2{
        font-size: 18px;
        margin-top: -35%;
        align-items: center;
        gap: 0;
    }
    .kompanija .podnaslov{
        font-size: 14px;
        margin-top: 0%;
    }
    .kompanija p{
        align-items: center;
        margin-top: 5%;
        font-size: 12px;
    }
    .kompanija .linijaNasl{
        display: none;
    }

    .kompanija .linijaRazd{
        display: none;
    }

    .kompanija input{
        width: 15.5%;
        height: auto;
        font-size: 14px;
        margin-top: 20%;
    }
    .centar{
        width: 100%;
        height: auto;
    }
    .centar img{
        width: 100%;
        height: 90%;
    }

    .centar h2{
        text-align: center;
        font-size: medium;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* margin-top: -27%;
        margin-left: 34%; */
    }
    .centar .linija{
       display:  none;
    }

    .prep .slike{
        width: 100%;
        height: auto;
    }
    .prep .slike img{
        margin-top: 2%;
        width: 25%;
        height: 95px;
    }
    .prep .texts{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 3%;
    }
    .prep .text{
        margin-top: 1%;
        font-size: small;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: -11%;
    }
    .prep .oblici{
        display: none;
    }
    .prep h2{
        font-size: 22px;
        margin-top: 5%;
        margin-left: 38%;
    }
    .prep p{
        font-size: 14px;
        margin-left: 43%;
        margin-bottom: 2%;
    }
    .prep .oblik5{
        width: 20%;
        height: 0.3%;
        margin-left: 38.4%;
        margin-bottom: 0%;
    }
    .znak-linija{
        display: none;
    }
    .prez {
        height: 20vh;
        width: 100%;
        background-size: cover;
    }
    .tx{
        margin-top: 0%;
        font-size: 24px;
        text-align: center;
        margin-left: 2%;
    }
    .slikeBrendova{
        align-items: center;
    }
    .brendovi input{
        align-items: center;
        margin-left: 30%;
    }
    .proizvodi h3{
        font-size: 22px;
        margin-left: 36%;
    }
    .proizvodi .linija{
        display: none;
    }
    .proizvodi p{
        font-size: smaller;
        text-align: center;
        margin-left: 5%;
        margin-right: 4%;
    }
    .product-container{
        width: 100%;
        height: auto;
    }
    .product-wrapper {
        flex-wrap: nowrap; 
    }

    .product-title{
        font-size: 16px;
    }

    .slider-controls{
        align-items: center;
        justify-content: center;
        position: sticky;
        margin-left: 90px;
        padding-right: 200px;
    }
    .product-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerContr{
        width: 100%;
        height: auto;
    }
    .footerTopSection{
        width: 100%;
        height: auto;
        font-size: medium;
        margin-left: 3%;
    }
    footer .logo{
        display: none;
    }
    .info{
        font-size: smaller;
        margin-top: 2%;
    }
    .srednji img{
        width: 80%;
    }
    .socials img{
    width: 90%;
    }
    .footerBottomSection{
        margin-left: 7%;
    }
    .footerBottomSection p{
        font-size: 12px;
    }
}